<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CircleBig0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,202}</string>
                <key>spriteSourceSize</key>
                <string>{492,202}</string>
                <key>textureRect</key>
                <string>{{0,0},{492,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CircleBig1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,202}</string>
                <key>spriteSourceSize</key>
                <string>{492,202}</string>
                <key>textureRect</key>
                <string>{{492,0},{492,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CircleBig2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,202}</string>
                <key>spriteSourceSize</key>
                <string>{492,202}</string>
                <key>textureRect</key>
                <string>{{984,0},{492,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CircleBig.png</string>
            <key>size</key>
            <string>{1476,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b898fc01d971d80849c31da21760025:b0609b340d740f262e6a883cef5bcd1e:043a96992ffdd79ab3752c15b7c0031a$</string>
            <key>textureFileName</key>
            <string>CircleBig.png</string>
        </dict>
    </dict>
</plist>
