<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iai_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_falling_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_falling_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_falling_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_falling_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_falling_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_falling_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_falling_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_falling_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_stopped_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_stopped_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,615},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_stopped_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,615},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_walking_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,615},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_walking_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,615},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iai_walking_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,615},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iai.png</string>
            <key>size</key>
            <string>{2196,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7b009164a4026b99b55a93071ba0318:456338c1a13bd6b2b925cbc4164cd6c0:4a98884527e406bd363f7aeff6cf8096$</string>
            <key>textureFileName</key>
            <string>iai.png</string>
        </dict>
    </dict>
</plist>
