<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kenshi_attackA_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{0,0},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackA_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{327,0},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackA_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{654,0},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackA_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{981,0},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackA_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1308,0},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackB_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1635,0},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackB_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{0,201},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackB_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{327,201},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackB_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{654,201},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackB_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{981,201},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackC_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1308,201},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackC_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1635,201},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackC_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{0,402},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackC_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{327,402},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackC_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{654,402},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackC_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{981,402},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackC_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1308,402},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackD_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1635,402},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackD_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{0,603},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackD_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{327,603},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackD_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{654,603},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackD_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{981,603},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackD_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1308,603},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackD_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1635,603},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_attackD_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{0,804},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_charging_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{327,804},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_charging_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{654,804},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_charging_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{981,804},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_charging_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1308,804},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_charging_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1635,804},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_falling_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{0,1005},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_falling_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{327,1005},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_falling_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{654,1005},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_falling_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{981,1005},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_falling_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1308,1005},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_falling_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1635,1005},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_falling_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{0,1206},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_falling_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{327,1206},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_falling_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{654,1206},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_stopped_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{981,1206},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_stopped_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1308,1206},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_stopped_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{1635,1206},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_walking_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{0,1407},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_walking_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{327,1407},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kenshi_walking_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,201}</string>
                <key>spriteSourceSize</key>
                <string>{327,201}</string>
                <key>textureRect</key>
                <string>{{654,1407},{327,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kenshi.png</string>
            <key>size</key>
            <string>{1962,1608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fdecf811d8425ac8503b61d97db8ab0:7c1445917074ff68d3d4a14097d08b3c:4567852aba3ecc7135b769f3cfae19eb$</string>
            <key>textureFileName</key>
            <string>Kenshi.png</string>
        </dict>
    </dict>
</plist>
