<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newKenshi_attackA_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackA_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackA_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackA_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackA_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackB_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,0},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackB_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackB_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackB_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackB_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackB_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackC_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,205},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackC_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackC_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackC_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackC_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackC_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackC_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,410},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackD_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,615},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackD_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,615},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackD_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,615},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackD_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,615},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackD_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,615},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackD_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,615},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackD_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,820},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_attackPrepare_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,820},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,820},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,820},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,820},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,820},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,1025},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,1025},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_dou_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,1025},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_dou_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,1025},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_dou_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,1025},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_dou_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,1025},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_dou_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,1230},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_dou_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,1230},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_dou_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,1230},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_dou_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,1230},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_dou_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,1230},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_back_dou_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,1230},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_battou_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,1435},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_battou_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,1435},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_battou_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,1435},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_battou_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,1435},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_battou_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,1435},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_battou_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,1435},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_battou_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,1640},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_battou_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,1640},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_battou_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,1640},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_falling_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,1640},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_falling_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,1640},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_falling_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,1640},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_falling_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,1845},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_falling_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,1845},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_falling_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,1845},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_falling_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,1845},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_falling_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,1845},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_falling_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,1845},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_stopped_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{0,2050},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_stopped_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{366,2050},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_stopped_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{732,2050},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_walking_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1098,2050},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_walking_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1464,2050},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newKenshi_walking_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,205}</string>
                <key>spriteSourceSize</key>
                <string>{366,205}</string>
                <key>textureRect</key>
                <string>{{1830,2050},{366,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NewKenshi.png</string>
            <key>size</key>
            <string>{2196,2255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb1c016ea4f59c12f90973d5e539da8c:9e8d39f920fc0657345da5454b48874b:4238fbea64b37135a5c3e3eea8045155$</string>
            <key>textureFileName</key>
            <string>NewKenshi.png</string>
        </dict>
    </dict>
</plist>
