<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oni_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{0,0},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{365,0},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{730,0},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{1095,0},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{1460,0},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_falling_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{0,205},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_falling_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{365,205},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_falling_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{730,205},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_falling_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{1095,205},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_falling_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{1460,205},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_falling_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{0,410},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_falling_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{365,410},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_falling_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{730,410},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_stopped_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{1095,410},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_stopped_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{1460,410},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_stopped_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{0,615},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_walking_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{365,615},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_walking_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{730,615},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oni_walking_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,205}</string>
                <key>spriteSourceSize</key>
                <string>{365,205}</string>
                <key>textureRect</key>
                <string>{{1095,615},{365,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>oni.png</string>
            <key>size</key>
            <string>{1825,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20007c629fd544c9cf389dde3913d21a:3ea9a8c3f67c43affa4be569262f30c5:119033cfe531b809a7ea08a0e0b90251$</string>
            <key>textureFileName</key>
            <string>oni.png</string>
        </dict>
    </dict>
</plist>
