<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heavy_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{0,0},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{330,0},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{660,0},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{0,229},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{330,229},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_falling_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{660,229},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_falling_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{0,458},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_falling_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{330,458},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_falling_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{660,458},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_falling_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{0,687},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_falling_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{330,687},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_falling_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{660,687},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_falling_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{0,916},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_stopped_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{330,916},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_stopped_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{660,916},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_stopped_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{0,1145},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_walking_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{330,1145},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_walking_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{660,1145},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavy_walking_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,229}</string>
                <key>spriteSourceSize</key>
                <string>{330,229}</string>
                <key>textureRect</key>
                <string>{{0,1374},{330,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SoldierHeavy.png</string>
            <key>size</key>
            <string>{990,1603}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0082c0edcb8c7f592086b40a4df54efe:fdfff9a4f4581cd8123e81665455489d:2b4d3298b11af0a77d2f1680fd52fa69$</string>
            <key>textureFileName</key>
            <string>SoldierHeavy.png</string>
        </dict>
    </dict>
</plist>
