<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{0,0},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{318,0},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{636,0},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{0,199},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{318,199},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_falling_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{636,199},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_falling_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{0,398},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_falling_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{318,398},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_falling_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{636,398},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_falling_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{0,597},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_falling_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{318,597},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_falling_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{636,597},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_falling_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{0,796},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_falling_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{318,796},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_stopped_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{636,796},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_stopped_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{0,995},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_stopped_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{318,995},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_walking_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{636,995},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_walking_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{0,1194},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldier_walking_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,199}</string>
                <key>spriteSourceSize</key>
                <string>{318,199}</string>
                <key>textureRect</key>
                <string>{{318,1194},{318,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Soldier.png</string>
            <key>size</key>
            <string>{954,1393}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4058ac7b3b8018217841d8abff035977:23db04572174b15d794873e8f25ee458:fcb0293c8afcdee9a73f644782e86a22$</string>
            <key>textureFileName</key>
            <string>Soldier.png</string>
        </dict>
    </dict>
</plist>
